@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

#root {
  font-family: 'Roboto Slab', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genericButton {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1rem;
  color: black;
  border: 1px solid black;
  background-color: transparent;
  margin: 0 5px;
  padding: 10px;
  transition: all 0.2s;
}

.genericButton:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.users__title {
  text-align: center;
}

.users__list {
  display: flex;
  flex-direction:  column;
  width: 60%;
}

.userCard {
  display:  flex;
  align-items: center;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid black;
}

.userCard__avatar {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 1px solid gray;
  border-radius: 75px;
}

.userCard__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 50px;

  font-size: 1.4rem;
}

.userCard__addbtn {
  margin-left: 40%;
}
